---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Define defaults for each variable.

$base-font-family: Palatino Linotype, Book Antiqua3, Palatino, serif;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$background-color: #fdfdfd !default;
$brand-color:      #6F9594 !default;
$brand-color-light:#deebe3 !default;

$grey:       #737373 !default;
$lightgrey: lighten($grey, 40%) !default;
$darkgrey:  #696969 !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          800px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@mixin animation($animation...) {
       -o-animation: $animation;
     -moz-animation: $animation;
  -webkit-animation: $animation;
          animation: $animation;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:after{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $grey;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  margin-top: 3em;
  //display: flex;
  //min-height: 100vh;
  //flex-direction: column;  
  @include media-query($on-laptop) {
    margin-top: 1em;
  }
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    opacity: 0.7;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: $grey;
  border-top:1px solid $lightgrey;
  border-bottom:1px solid $lightgrey;
  padding:1em 0;
  font-size: 0.9em;
  line-height: 1.3;
  font-style: italic;
  text-align: right;
  margin:3em 0;
  p{
    margin-bottom:0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid $lightgrey;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
* Preloader 
*/
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #preloader { 
  display: none;  
}
.js #preloader { 
  display: block;
}
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff; 
  &::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url('/assets/images/artwork/In-A-Beautiful-Place-Far-Away_02.jpg') ;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    animation: fade 6s ease-in-out infinite;
  }
}

@keyframes fade {
  0% {
    opacity:0.1;
    filter: blur(3px);
  }
  50%{
    opacity:0.6;
    filter: none;
  }
  100% {
    opacity:0.1;
    filter: none;
  }
}

#preloader.hidden {
  animation: fadeOut 5s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
0% {
    opacity:1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}


/**
* Background
*/
body:before {
    background: url("/assets/images/artwork/In-A-Beautiful-Place-Far-Away_02.jpg") (center / cover);
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.07;
}


/**
 * Wrapper
 */
.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  animation: blur 3s;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

@keyframes blur {
  0% {
    opacity:0;
    filter: blur(20px);
  }
  30%{
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{$grey};
    padding-right: 5px;
    vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}



/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($grey, 18%);
  border-collapse: collapse;
  border: 1px solid $lightgrey;
  tr {
    &:nth-child(even) {
      background-color: lighten($lightgrey, 6%);
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: lighten($lightgrey, 3%);
    border: 1px solid darken($lightgrey, 4%);
    border-bottom-color: darken($lightgrey, 12%);
  }
  td {
    border: 1px solid $lightgrey;
  }
}

/**
 * Header Content wrapper
 */
.header-content-wrapper {
 position: relative;
 float: left;
 width: 100%;
 z-index: 99; /* needed for Safari 7 */
}

/**
 * Site header
 */
.site-header {
  float:left;
  width: 12em;
  @include media-query($on-laptop) {
    width:100%;
  }
  // Positioning context for the mobile navigation icon
  //position: relative;

  &:after{
	 width:12em;
  }
}

.site-header:after,
.page-content:after {
	content: " ";
	border-right: 1px solid $lightgrey;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: -1;
  @include media-query($on-laptop) {
    border-right: none;
  }
}





.site-title {
  line-height: 2em;
  &,
  &:visited {
    color: $grey;
  }
  img{
  	width:8em;
  }
  h1{
    letter-spacing: 0.05em;
    color: $grey;
    span{
      display: block;
      line-height: 0.4em;
      color: #8BB6A1;
    }
  }
}

.site-nav {
  line-height: $base-line-height * $base-font-size * 2.25;
  text-transform: uppercase;
  margin-top: 5em;
  @include media-query($on-laptop) {
    margin-top: 1em;
  }
  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $grey;
    line-height: $base-line-height;
    display: block;
    line-height: 2;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      text-align: center;
      border-top: 1px dotted $lightgrey;
      border-bottom: 1px dotted $lightgrey;
      line-height: 2;
      margin-bottom: 1em;
      &:hover{
        color: lighten($brand-color, 10%);
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
      animation: blur 1.5s;
      text-align: center;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 0;
    }
  }
}

/*tabs*/
  .tabs {
    margin: 0 auto;
    position: relative;
    input, section {
      clear: both;
      display: none;
    }
    label {
      display: block;
      float: right;
      padding: 0 0.5em;
      cursor: pointer;
      text-decoration: none;
      text-align: center;
      color:#aaa;
      margin-bottom:1em;
      &:first-of-type{
        border-left:1px solid $lightgrey;
        padding-right:0;
      }

    }
    #tab1:checked ~ #content1,
    #tab2:checked ~ #content2{
      display: block;
    }
    [id^="tab"]:checked + label {
      color:$brand-color;
    }
    section{
      &#content1{
        /* Grid*/
        .grid{
          width:100%;
          float:left;
          margin-bottom: 3em;
          ul{
            margin: 0 1px 0 -1px;
            line-height: 0;
            display: block;
            padding: 0;
            li{
              float: left;
              width: 16.666666%;
              list-style-type: none;
              position: relative;
              @include media-query($on-laptop) {
                width: 33.33333%;
              }

            img{
              display: block; 
              width:100%;
              border-left:1px solid white;
              border-bottom:1px solid white;
              margin:0;
              &:hover{
                opacity: 0.7;
              }
              }
            }
          }
        }
      } /* end #content1 Grid */
      &#content2{
        /* List */
        .list{
          width:100%;
          float:left;
          ul{
            list-style-type: none;
            margin-left:0;
            li{
              float:left;
              width:100%;
              border-bottom: 1px solid $lightgrey;
              padding-top:0.5em;
           img{
              float:left;
              width:4em;
              margin-top: 0.5em;
            }
            .info{
              margin-left: 5em;
            h3{ 
              margin: 0 0 0.2em 0;
              line-height: 1;
              font-size: 1.8em;
              a{
                font-size: 0.6em;
                color: $darkgrey;
                span{
                  font-size: 0.9em;
                  color: $darkgrey;
                }
              }// end a
            }// h3
            p{
              font-size:0.9em;
            }
          }// end .info
         }// end li
        }// end ul
       }// end .list
      } /* end #content2 List */
    } /* end section */
  } /* end tabs */


/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $lightgrey;
  padding: $spacing-unit;
  width:100%;
  float: left;
  font-size: 0.9em;
  ul{
    list-style-type:none;
    margin:0;

  }
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  //flex: 1;
  float: left;
  width:70%;
  @include media-query($on-laptop) {
    padding:0 0 $spacing-unit 0;
  }

  &:after{
	 right: 0;
  }
  #pagination{
    border-top: 1px solid $lightgrey;
    padding-top: 3em;
    h6{
      text-transform: uppercase;
      margin-bottom: 0.5em;
    }
    .right{
      text-align: right;
    }
  }

    @include media-query($on-laptop) {
    width:100%;
  }

}


.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

.left{
  float:left;
   a:hover{
    color: lighten($brand-color, 10%);
  }
}
.right{
  float:right;
   a:hover{
    color: lighten($brand-color, 10%);
  }
}


/**
 * Posts
 */
.post-header {
  margin: 3em 0 1em 0; 
  background-color: $brand-color-light;
  width: 100%;
}
@include media-query($on-palm) {
  .post-header {
    margin: 0 0 1em 0;
  }
}
.post-title {
  @include relative-font-size(1.1);
  letter-spacing: -1px;
  line-height: 1;
  padding: 0.7em 0.7em 0.5em 0.7em;
  text-transform: uppercase;
  color: $darkgrey;


  /*@include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }*/

}

.post-content {
  margin-bottom: $spacing-unit;

  h1{
    @include relative-font-size(1.25);
  }
  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
  img{
    margin-bottom:0.5em;
  }
  dl{
    font-style: italic;
    border-left: 4px solid $lightgrey;
    padding: 1.2em 0 0.1em 0.5em;
    dt{
      font-size: 0.6em;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 1;
    }
    dd{
      margin-bottom:1em;
      font-size: 0.9em;
      line-height: 1.2;
    }
  }
  p{
    text-align:justify;
  }
}

